body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.container {
  width: 1320px;
}
.w-100 {
  width: 100%;
}
.flex {
  display: flex;
}
.text-15 {
  font-size: 15px;
}
.text-20 {
  font-size: 20px;
}
.text-25 {
  font-size: 25px;
}

.text-30 {
  font-size: 30px;
}
.text-35 {
  font-size: 35px;
}
.font-semibold {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.card__hv:hover {
  cursor: pointer;
  background-color: #b4cde6;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
